<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="TestNG.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/hamza/eclipse-workspace/TestngClass">
        <parameter name="URL" value="https://www.google.com/"></parameter>
        <classes>
            <class name="TestNG.Day2"> </class>
            <class name="TestNG.Day1"> </class>
            <class name="TestNG.Day4"></class>
            <class name="TestNG.Day3"></class>
        </classes>
    </test>

</suite>